body {
  font-family: Arial;
  background: #f4f4f4;
}

.chatbox {
  width: 300px;
  margin: 50px auto;
  background: white;
  padding: 10px;
  border-radius: 10px;
}

#chat {
  height: 300px;
  overflow-y: auto;
  margin-bottom: 10px;
}
